workflows/kyMCYoQlj3VI07P5.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Formatter AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Formatter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Formatter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-05T07:18:48.304Z",
  "id": "kyMCYoQlj3VI07P5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "52a91732-5555-4e50-a5a5-4a433989b4ab",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -384,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "xkwong040504@gmail.com",
        "subject": "AI News Update in the last 24 hours",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "f256208c-2516-42e8-80af-e06c25544aec",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        576,
        400
      ],
      "webhookId": "c90e86e9-2fcb-459d-8141-b9b819c3839b",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2kCmeRPqwaK7lgR9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.choices[0].message.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful formatter assistant, you will receive a chunk of AI Headlines and news, your job is to format it such that it is in an easily readable format for email. \nEach Subject and url must be added in the format and make it in clean text and good formatting clear enough for user to read directly with bold words and so on must be neat and tidy. \nLastly make the whole output in html.\nOutput format = HTML format.\n\nMust not include the header which is \"```html\" and ending \"```\""
        }
      },
      "id": "73943b28-5dae-4359-8d5e-43cdc1b59bf7",
      "name": "Formatter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        128,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Research Agent').item.json.id }}",
        "contextWindowLength": 10
      },
      "id": "9c04ccec-55b1-468e-b5f2-eb42f059bbae",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        224,
        624
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a cutting‑edge AI news researcher. Every time you run, search for and retrieve the most recent developments in artificial intelligence published within the last 24 hours. \n\nFor each news item you return:\n- Include the full headline.\n- Provide a one‑sentence summary.\n- Unfurl the full URL (no shortened links or footnote markers).\n- List the publication date and the source name.",
              "role": "system"
            },
            {
              "content": "What are the latest headlines in AI Development in the past 24 hours? Include any model launches or notable market news."
            }
          ]
        },
        "options": {
          "searchRecency": "day"
        },
        "requestOptions": {}
      },
      "id": "fe82d1a1-2d5e-48e4-97b0-15e2533ea7ea",
      "name": "Research Agent",
      "type": "n8n-nodes-base.perplexity",
      "position": [
        -144,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "perplexityApi": {
          "id": "37M344qUviXqonsr",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "content": "Scheduled Trigger",
        "height": 560
      },
      "id": "59481d96-541c-412c-a2aa-dba5792db2e0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Perplexity Research Agent",
        "height": 560
      },
      "id": "060401ec-a93a-448d-bb0d-d3667fc5f9a3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Formatter Agent",
        "height": 560,
        "width": 400
      },
      "id": "1bc0dcd7-2af8-43cb-9c07-91f9af6e6be9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Gmail Output Node",
        "height": 560,
        "width": 320
      },
      "id": "4aacc269-471f-4494-8c2a-c3ad9c4d623f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        592
      ],
      "id": "0d44ea37-ed27-467e-91ea-2f73fbda0cf0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qmsSZ71hhdItGeAn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        400
      ],
      "id": "f113a3bb-9b1e-4e86-8184-367ec812ade7",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-05T08:16:02.000Z",
  "versionId": "983b05ac-3a81-4930-900c-b1a49fadabbf"
}